body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}
.background {
  background-color: #ffffff;
}
.wrapper {
  color: #0a2b3a;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 50%;
  border: 1px solid #4c738b;
  border-radius: 30px;
  background-color: #4182a0;
  box-shadow: 0px 0px 10px 0px #0000001f;
}
.heading{
  display: block;
  margin: 0 auto;
  text-align: center;
}
#select-city {
  background-color: #dddddd;
  border: 1.5px solid #295f7a;
  border-radius: 30px;
  padding: 1px 7px 2px 7px;
  transition: all 200ms ease-in-out;   
}
.go, .currentlocation {
  background-color: #267296;
  color: #EBEBEB;
  border: 1.4px solid #295f7a;
  border-radius: 30px;
  padding: 1px 7px 2px 7px;
  transition: all 250ms ease-in-out;
}
.go:hover, .currentlocation:hover {
  background-color: #EBEBEB;
  color: #02588d;
  cursor: pointer;
}
h1 {
  margin: 0;
  font-size: 30px;
  line-height: 32px;
}
h2 {
  margin: 0;
  font-size: 23px;
}
.infosactualday {
  font-size: 15px;
  line-height: 16px;
  margin: 0;
}
.visibilitytemp {
  display: inline-block;
  margin-right: 10px;
}
.visibility {
  font-size: 17px;
}
.temperature {
  font-weight: bold;
  font-size: 23px;
}
.digit {
  position: relative;
  top: -8px;
  font-size: 12px;
  font-weight: normal;
}
.digit .inactive {
  color: #ffffff;
}
.digit .inactive:hover {
  color: #ffffff;
  text-decoration: none;
}
.digit .active {
  color: #0a2b3a;
  cursor: default;
  text-decoration: none;
}
.digit .active:hover {
  text-decoration: none;
}
.mainicon {
  display: inline-block;
  width: 40%;
}
.daysafter {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 90%;
}
.nameday {
  font-size: 19px;
}
.forecast {
  color: #dddddd;
  padding-left: 20px;
  background-color: #267296;
  padding: 8px;
  border: 1px dashed #02588d;
  border-radius: 20px;
  margin-bottom: 10px; 
  box-shadow: 0px 0px 8px 0px #0000001f;
  transition: all 250ms ease-in-out;
}
.forecast:hover {
  background-color: #c5a849;
}
.infosdaysafter {
  font-size: 13px;
  line-height: 16px;
}
.footer, .footerLink {
  text-align: center;
  font-size: 11px;
  color: #02588d;
  text-decoration: none;
}
.footerLink:hover {
  color: #d2dfe7;
}